# Framework de la aplicación web
streamlit
streamlit-option-menu

# Análisis y manipulación de datos
pandas
numpy

# Procesamiento y visualización geoespacial
geopandas
folium
streamlit-folium
pydeck

# Gráficos y visualizaciones
plotly
matplotlib

# Utilidades (para manejo de imágenes)
Pillow

# ¡CRUCIAL para la compilación de C++!
# pybind11 es el "puente" que conecta tu código Python y C++
pybind11