# Framework de la aplicación web
streamlit==1.35.0
streamlit-option-menu==0.3.6

# Análisis y manipulación de datos
pandas==2.2.2
numpy==1.26.4

# Procesamiento y visualización geoespacial
geopandas==0.14.3
folium==0.16.0
streamlit-folium==0.14.0
pydeck==0.8.1b0

# Gráficos y visualizaciones
plotly==5.22.0
matplotlib==3.8.4

# Utilidades (para manejo de imágenes)
Pillow==10.3.0

# Conexión entre Python y C++ (CRUCIAL para tu proyecto)
pybind11==2.12.0
